*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Do not HardCode values, use % */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Wrap all the things in a global class and make that class position relative and everything else inside it position absolute */
.world {
    overflow: hidden;
    position: relative;
    /* width: 100%;
    height: 200px; */
}

/* Find out what is vmin */
.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}


.start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: cal(var(--bottom) * 1%);
}

.cactus {
    position: absolute;
    left: cal(var(--bottom) * 1%);
    height: 30%;
    bottom: 0;
}